<div class="container">
<div class="row">
  <% @posts.each do |post| %>

  <div class="col-md-1">
    <%= link_to upvote_post_path(id: post.id), class: "glyphicon glyphicon-arrow-up" do %>
    <% end %>
    <p>
      <%= post.view_count %>
    </p>
    <%= link_to downvote_post_path(id: post.id), class: "glyphicon glyphicon-arrow-down" do %>
    <% end %>
  </div>

  <div class="col-md-2">
  <%= image_tag post.photo_url %>
  </div>

  <div class="col-sm-9">

    <h3><%= link_to post.title,post.link%></h3>
    <p>submitted by
      <%= post.submitted_by %></p>
      <p><%= link_to 'Edit', post_path(id: post.id) %></p>
  </div>


  <% end %>

  <p>
  <%= link_to "#{pluralize post.comments.count, 'comment'}", post_path(id: post.id) %>
 </p>

</div>
</div>
